html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyer's Reset End */

/* Body Styling */

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;

    /* Font Styling */
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    transform-origin: top left;
}

.main-cont {
    max-width: 950px;
}

.header-bg {
    background: #0891b2;
    min-height: 375px;
    width: 100%;
    position: absolute;
    transform: skewY(-10deg);
    transform-origin: top left;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 8px;
}

.profile,
.bio {
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 6px;
}
.profile {
    position: relative;
    max-width: 350px;
}

.bio {
    background: white;
    padding: 30px 20px;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    row-gap: 16px;
    font-size: 1.3em;
}

.bio p {
    color: rgba(86, 86, 86);
    line-height: 1.4em;
}

header h1 {
    font-size: 1.75em;
}

.h-icons {
    justify-self: end;
}
.h-icons img {
    max-width: 24px;
}

.h-icons a {
    margin: 4px;
}

/* Styling for person's name */
.picture {
    position: relative;
    display: flex;
    justify-content: center;
}

.picture p {
    position: absolute;
    bottom: 12px;
    justify-self: center;
    font-size: 2em;
    color: white;
}

/* Mobile Screens */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        padding: 20px 10px;
        justify-self: center;
        margin: auto;
    }

    .header-bg {
        height: 200px;
        width: 100%;
    }
    .profile {
        width: clamp(150px, 100%, 450px);
        justify-self: center;
    }

    .bio {
        box-shadow: none;
        padding: 20px 5px;
    }

    .bio > h1 {
        text-align: center;
    }

    .h-icons {
        justify-self: center;
    }

    .header-bg {
        transform: skewY(-15deg);
    }

    .picture > p {
        font-size: 5em;
    }
}

/* Tablet Screens */
@media (min-width: 500px) and (max-width: 1000px) {
}
