html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyer's Reset End */

/* Body Styling */

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    cursor: default;

    /* Font Styling */
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    transform-origin: top left;
}

.person-name {
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 3em;
    padding-bottom: 4px;
}

.bio-img {
    visibility: hidden;
    position: absolute;
}

.main-cont,
main {
    max-width: 950px;
}

.header-bg {
    background: #0891b2;
    min-height: 375px;
    width: 100vw;
    position: absolute;
    transform: skewY(-10deg);
    transform-origin: top left;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 8px;
}

.profile,
.bio {
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 6px;
}
.profile {
    position: relative;
    max-width: 350px;
}

.bio {
    background: white;
    padding: 30px 20px;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    row-gap: 16px;
    font-size: 1.3em;
}

.bio p {
    color: rgba(86, 86, 86);
    line-height: 1.4em;
}

header h1 {
    font-size: 1.75em;
}

.h-icons {
    justify-self: end;
}
.h-icons img {
    max-width: 24px;
}

.h-icons a {
    margin: 4px;
    cursor: pointer;
}

/* Styling for person's name */
.picture {
    position: relative;
    display: flex;
    justify-content: center;
}

.picture p {
    position: absolute;
    bottom: 12px;
    justify-self: center;
    font-size: 2em;
    color: white;
}

/* Mobile Screens */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        padding: 20px 10px;
        justify-self: center;
        margin: auto;
    }

    .header-bg {
        min-height: 400px;
        width: 100%;
        transform: skewY(-25deg);
    }

    .profile {
        width: clamp(150px, 100%, 450px);
        justify-self: center;
        visibility: visible;
        position: initial;
    }

    .bio {
        box-shadow: none;
        padding: 20px 5px;
    }

    .bio > h1 {
        text-align: center;
    }

    .h-icons {
        justify-self: center;
    }

    .picture > p {
        font-size: 5em;
    }

    /* Main Content styling for mobile */
    main > .cont {
        grid-template: min-content repeat(6, 1fr) / 1fr;
        padding: 20px 15px;
    }

    main > .cont > p {
        text-align: center;
    }

    /* Mobile footer styling */
    body footer {
        padding: 20px 15px;
    }

    .footer {
        flex-direction: column;
        padding: 0px;
    }

    picture {
        margin: 0px -15px -20px -15px;
    }
}

/* Tablet Screens */
@media (min-width: 501px) and (max-width: 1000px) {
    header {
        flex-direction: column;
        padding: 30px 50px;
    }

    .person-name {
        visibility: visible;
        position: static;
        z-index: 1;
        transform: translateX(80px);
    }

    .picture {
        z-index: 1;
        position: absolute;
        left: 3%;
        top: 3%;
        visibility: hidden;
    }

    .bio-img {
        width: 250px;
        float: left;
        margin: 0px 5px 5px 0px;
        visibility: visible;
        position: relative;
        right: 5px;
        align-self: start;
        transform-origin: bottom right;
        transform: scaleY(1.3) scaleX(1.2);
    }

    .header-bg {
        transform: skewY(-15deg);
    }

    .picture p {
        visibility: hidden;
    }

    .h-icons {
        visibility: hidden;
        position: absolute;
    }

    .bio {
        display: inline;
        max-width: 600px;
    }

    .bio h1 {
        margin-bottom: 4px;
    }

    /* Main Content styling for tablet */
    main > .cont {
        padding: 30px 50px;
        max-width: 740px;
        box-sizing: border-box;
        grid-template: min-content 1fr 1fr / repeat(2, 1fr);
    }

    /* Footer styling fot tablet */
    body footer {
        padding: 30px 50px;
    }
    footer > .footer {
        max-width: 640px;
    }
}

/* Main section styling */

.cont {
    display: grid;
    width: 100%;
    grid-template: min-content 1fr / repeat(3, 1fr);
    gap: 20px;
    min-height: 300px;
    padding: 30px 35px;
    box-sizing: border-box;
}

.project {
    height: 225px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 6px;
}

.screenshot {
    height: 60%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.description {
    padding: 12px;
    flex-grow: 1;
    display: grid;
    grid-template: min-content 1fr / 1fr min-content;
    gap: 4px;
}

.description > p {
    grid-column: 1 / -1;
}
.description h2 {
    font-size: 1.1em;
    font-weight: 600;
}
.proj-links {
    display: flex;
    gap: 8px;
}
.proj-links img {
    height: 25px;
    width: 25px;
}

.sc-2 {
    background: purple;
}

.sc-3 {
    background: pink;
}

.sc-4 {
    background: orange;
}

.sc-5 {
    background: blue;
}

.sc-6 {
    background: green;
}
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.cont > h2 {
    font-size: 1.5em;
    align-self: start;
    text-align: start;
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Footer Styling */

footer {
    display: flex;
    background: #0891b2;
    width: 100%;
    color: white;
    padding: 30px 35px;
    box-sizing: border-box;
    justify-content: center;
}

.footer {
    max-width: 880px;
    flex-grow: 1;
    box-sizing: border-box;
    /* background: green; */
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

footer h1 {
    font-size: 1.5em;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer picture > img {
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

p img {
    height: 1em;
}

footer p {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}

.links * {
    height: 24px;
    width: 24px;
}

footer picture {
    border: 0px;
}
