html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyer's Reset End */

/* Bosdy Styling */

body {
    display: flex;
    flex-direction: column;

    /* Font Styling */
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    transform-origin: top left;
}

.header-bg {
    background: #0891b2;
    min-height: 375px;
    width: 100%;
    position: absolute;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -2;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 8px;
}

.profile,
.bio {
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 6px;
}
.profile {
    max-width: 300px;
    position: relative;
}

.bio {
    background: white;
    padding: 20px 15px;
    max-width: 300px;
}

header h1 {
    font-size: 24px;
}

.bio {
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    row-gap: 16px;
}

.h-icons {
    justify-self: end;
}
.h-icons img {
    max-width: 1.5em;
}
